mixin combo()
  -
    const slides = [
      {
        img: {
          path: 'slides',
          image: 'combo-damda',
          format: 'png',
          width: 349,
          height: 300,
          altText: 'Combo Coffe DamDa',
        },
        imgMods: ['solitude',],
        price: '147.000',
        oldPrice: '155.000',
        title: 'Combo Revo Đậm Đà',
        text: 'Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...',
        btns: [
          {
            href: '#',
            text: 'MUA NGAY',
            mods: ['filled',],
          },
          {
            href: '#',
            text: 'CHI TIẾT',
            mods: ['transparent',],
          },
        ],
      },
      {
        img: {
          path: 'slides',
          image: 'combo-everyday',
          format: 'png',
          width: 349,
          height: 300,
          altText: 'Combo Coffe EveryDay',
        },
        imgMods: ['solitude',],
        price: '156.000',
        oldPrice: '165.000',
        title: 'Combo Revo Everyday',
        text: 'Revo Everyday được phối trộn giữa vị đắng của hạt Robusta và hương thơm...',
        btns: [
          {
            href: '#',
            text: 'MUA NGAY',
            mods: ['filled',],
          },
          {
            href: '#',
            text: 'CHI TIẾT',
            mods: ['transparent',],
          },
        ],
      },
      {
        img: {
          path: 'slides',
          image: 'combo-honey',
          format: 'png',
          width: 349,
          height: 300,
          altText: 'Combo Coffe Honey',
        },
        imgMods: ['solitude',],
        price: '260.000',
        oldPrice: '275.000',
        title: 'Combo Revo Honey',
        text: 'Honey – trong tên gọi Revo Honey đến từ phương pháp chế biến hạt Arabica...',
        btns: [
          {
            href: '#',
            text: 'MUA NGAY',
            mods: ['filled',],
          },
          {
            href: '#',
            text: 'CHI TIẾT',
            mods: ['transparent',],
          },
        ],
      },
      {
        img: {
          path: 'slides',
          image: 'combo-natural',
          format: 'png',
          width: 349,
          height: 300,
          altText: 'Combo Coffe Natural',
        },
        imgMods: ['solitude',],
        price: '147.000',
        oldPrice: '155.000',
        title: 'Combo Revo Natural',
        text: 'Revo Natural là dòng cà phê đặc biệt của Revo Coffee dành riêng ...',
        btns: [
          {
            href: '#',
            text: 'MUA NGAY',
            mods: ['filled',],
          },
          {
            href: '#',
            text: 'CHI TIẾT',
            mods: ['transparent',],
          },
        ],
      },
      {
        img: {
          path: 'slides',
          image: 'combo-damda',
          format: 'png',
          width: 349,
          height: 300,
          altText: 'Combo Coffe DamDa',
        },
        imgMods: ['solitude',],
        price: '147.000',
        oldPrice: '155.000',
        title: 'Combo Revo Đậm Đà',
        text: 'Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...',
        btns: [
          {
            href: '#',
            text: 'MUA NGAY',
            mods: ['filled',],
          },
          {
            href: '#',
            text: 'CHI TIẾT',
            mods: ['transparent',],
          },
        ],
      },
      {
        img: {
          path: 'slides',
          image: 'combo-everyday',
          format: 'png',
          width: 349,
          height: 300,
          altText: 'Combo Coffe EveryDay',
        },
        imgMods: ['solitude',],
        price: '156.000',
        oldPrice: '165.000',
        title: 'Combo Revo Everyday',
        text: 'Revo Everyday được phối trộn giữa vị đắng của hạt Robusta và hương thơm...',
        btns: [
          {
            href: '#',
            text: 'MUA NGAY',
            mods: ['filled',],
          },
          {
            href: '#',
            text: 'CHI TIẾT',
            mods: ['transparent',],
          },
        ],
      },
      {
        img: {
          path: 'slides',
          image: 'combo-honey',
          format: 'png',
          width: 349,
          height: 300,
          altText: 'Combo Coffe Honey',
        },
        imgMods: ['solitude',],
        price: '260.000',
        oldPrice: '275.000',
        title: 'Combo Revo Honey',
        text: 'Honey – trong tên gọi Revo Honey đến từ phương pháp chế biến hạt Arabica...',
        btns: [
          {
            href: '#',
            text: 'MUA NGAY',
            mods: ['filled',],
          },
          {
            href: '#',
            text: 'CHI TIẾT',
            mods: ['transparent',],
          },
        ],
      },
      {
        img: {
          path: 'slides',
          image: 'combo-natural',
          format: 'png',
          width: 349,
          height: 300,
          altText: 'Combo Coffe Natural',
        },
        imgMods: ['solitude',],
        price: '147.000',
        oldPrice: '155.000',
        title: 'Combo Revo Natural',
        text: 'Revo Natural là dòng cà phê đặc biệt của Revo Coffee dành riêng ...',
        btns: [
          {
            href: '#',
            text: 'MUA NGAY',
            mods: ['filled',],
          },
          {
            href: '#',
            text: 'CHI TIẾT',
            mods: ['transparent',],
          },
        ],
      },
    ]

  .combo&attributes(attributes)
    .swiper.combo__swiper(data-combo-slider)
      .swiper-wrapper
        each slide in slides
          .swiper-slide.combo__slide
            +card-content(slide).combo__item
