.btn {
  display: inline-flex;
  border-radius: 19px;
  padding: 8px 40px;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;
  font-weight: 700;

  &--filled {
    background-color: $color-rodeo-dust;
    color: $color-alice-blue;
  }

  &--transparent {
    background-color: transparent;
    color: $color-cello;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
