.card-content {
  transition: box-shadow $trans-default;

  &__img-block {
    img {
      object-fit: cover;
      margin: 0 auto;
    }

    &--green img {
      filter: hue-rotate(112deg) saturate(50%);
    }

    &--blue img {
      filter: hue-rotate(177deg);
    }

    &--solitude {
      background-color: $color-solitude;
    }
  }

  &__content-block {
    display: flex;
    flex-direction: column;
    padding: 42px;
    background-color: $color-white;
    min-height: 256px;

    @include vp-767 {
      padding: 21px;
    }
  }

  &__price-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 7px;
  }

  &__price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: $color-rodeo-dust;
  }

  &__old-price {
    margin-left: 15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    font-style: italic;
    text-decoration: line-through;
    color: $color-cello;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: $color-midnight;
  }

  &__text {
    margin: 0;
    line-height: 22px;
  }

  &__lists {
    margin-top: auto;
    display: grid;
    gap: 48px;
  }

  &__descs {
    padding: 0;
    margin: 25px 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 40px;
    list-style-type: none;

    @include vp-1023 {
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
  }

  &__desc {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 0 12px;

    svg {
      grid-row: 1 / 3;
      width: 40px;
      height: 40px;
      transform: translateZ(0);
      color: $color-cello;
    }
  }

  &__desc-item {
    opacity: 0.3;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include vp-1023 {
      grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
    }
  }

  &__button-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
