.favourite {
  &__swiper {
    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      width: 7%;
      background-color: $color-white;
      opacity: 0.5;
      z-index: 1;
      user-select: none;
      pointer-events: none;

      @include vp-1023 {
        width: 7%;
      }

      @include vp-767 {
        width: 13%;
      }
    }

    &.is-end {
      &::after {
        display: none;
      }
    }
  }

  &__slide {
    display: grid;
    gap: 30px;
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr;

    @include vp-1279 {
      grid-template-columns: 1fr;
    }
  }

  &__button {
    width: 48px;
    height: 48px;
    background: $color-rodeo-dust;
    color: $color-alice-blue;
    border-radius: 50%;
    margin-top: calc(0px - 48px/2);

    &.swiper-button-disabled {
      opacity: 0;
    }

    &::after {
      display: none;
    }

    svg {
      width: 24px;
      height: 17px;
      user-select: none;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__button-next {
    right: 5%;
  }

  &__button-prev {
    left: 5%;

    svg {
      transform: rotate(-180deg);
    }
  }
}
