.section {
  &--solitude-to-alice {
    background-image: $solitude-wd-to-alice-blue;

    @include vp-1499 {
      background-image: $solitude-to-alice-blue;
    }

    @include vp-767 {
      background-image: none;
    }
  }

  &--cello-to-alice {
    background-image: $cello-wd-to-alice-blue;

    @include vp-1499 {
      background-image: $cello-to-alice-blue;
    }

    @include vp-767 {
      background-image: none;
    }
  }

  &--alice-to-cello {
    background-image: $alice-blue-wd-to-cello;

    @include vp-1499 {
      background-image: $alice-blue-to-cello;
    }

    @include vp-767 {
      background-image: none;
    }
  }

  &--panaram-slider {
    .favourite {
      margin-right: -15px;
      max-width: 1271px;
      margin-left: auto;

      @include vp-1023 {
        margin-right: -30px;
      }

      @include vp-767 {
        margin-right: -15px;
      }
    }
  }

  &--short-tabs {
    .tabs {
      margin: 0 auto;
      max-width: 1134px;
    }
  }

  &__capture {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
    color: $color-cello;
    text-align: center;

    @include vp-767 {
      text-align: left;
    }
  }

  &__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 90px;
    color: $color-cello;
    text-align: center;

    @include vp-767 {
      text-align: left;
    }
  }
}
