mixin burger()
  button.burger(type="button" aria-label="Переключатель отображения меню" aria-pressed="false" data-burger)
    span.burger__top-line
    span.burger__middle-line
    span.burger__bottom-line
