mixin section(parameters = {})
  - const id = parameters.id
  - const capture = parameters.capture
  - const title = parameters.title
  - const mods = parameters.mods?.map((mod) => `section--${mod}`) || false
  - const captureAnimations = parameters.captureAnimations
  - const titleAnimations = parameters.titleAnimations
  - const blockAnimationParams = parameters.blockAnimationParams
  - const animatedAttrs = parameters.animated ? { 'data-section-animation': '', 'data-start': 'top 80%', 'data-end': '', 'data-scrub': 'false', 'data-once': '',} : {}
  section.section(id=id, class=mods?mods : '',)&attributes(animatedAttrs)
    .container
      p.section__capture&attributes(captureAnimations)!= capture
      h2.section__title&attributes(titleAnimations)!= title
      block
