mixin section(parameters = {})
  - const id = parameters.id
  - const capture = parameters.capture
  - const title = parameters.title
  section.section(id = id)
    .container
      p.section__capture!=capture
      h2.section__title!=title
      block
