.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 87px 15px 128px 15px;
  overflow: hidden;

  @include vp-1023 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-767 {
    padding: 43px 15px 64px 15px;
  }
}
