mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#section-features",
        text: "COFFEE",
        scrollTo: '#features',
      },
      {
        href: "#section-coffee",
        text: "PHIN MẠ MÀU",
        scrollTo: '#coffee',
      },
      {
        href: "#section-combo",
        text: "COMBO PHIN PHÊ",
        scrollTo: '#combo',
      },
      {
        href: "#section-giftset",
        text: "GIFTSET",
        scrollTo: '#giftset',
      },
      {
        href: "#section-footer",
        text: "LIÊN HỆ",
        scrollTo: '#footer',
      },
    ]

  header.header(class=headerMods, data-header)
    .container
      .header__wrapper
        .header__links-container
          .header__logo-container
            if(currentUrl === "index.html")
              +logo()
            else
              +logo({isLink:true})
          +burger()
        h1.title.header__title
          span Your
          span Personalized
          span Coffee
        +video().header__video
        nav.main-nav
          .main-nav__wrapper
            .main-nav__buttons
              button.main-nav__basket(type="button")
                +icon("icon-basket", 18, 18)
                span 2
            .main-nav__content
              h2 TRANG CHỦ
              ul.main-nav__list(data-scroll-lock-scrollable)
                each link in headerLinks
                  li.main-nav__item
                    a.main-nav__link(href=link.href, data-move-to=link.scrollTo ? link.scrollTo : undefined, data-close-menu)!= link.text
